.main{
    border: 1px solid black;
    width: 200px;
}
.insert{
    width: 195px;
    border: 1px solid black;
    height: 20px;
}
.btn{
    width: 47px;
    margin-left: px;
    margin-right: px;

}
.btn1{
    width: 47px;

}